body{
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    display: flex; 
    justify-content: left; 
    align-items: center; 
    background: rgb(76, 57, 107);
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Roboto', sans-serif;
    overflow: auto;
}
/*
---------  ---------  ---------  ---------
#search-input {
    width: 175%;
    top: 70%; 
    left: 50%; 
    padding: 10px;
    border: 1px solid #ccc;
    transform: translate(85%, -265%);
    border-radius: 5px;
    background-color: #36393f;
    color: #fff;
  }
  #output-box {
    position: fixed;
    top: 50%;
    left: 6.5%;
    height: 380px;
    width: 35%;
    padding: 10px;
    background-color: #f1f1f1;
    transform: translate(65%, -40%);
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px;
    background-color: #36393f;
    color: #fff;
    overflow-y: auto; 
  }
-------  ---------  ---------  ---------  ---------
*/
.slider{
    transform: translate(-110%, -3%);
    justify-content: left;
    max-width: 800px; 
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    overflow: hidden;
}

.slides{
    width: 500%; 
    height: 500px; 
    display: flex; 
    justify-content: left; 
    transform: translateX(0%);
}

.slides input{
    display: none; 
}

.slide{
    justify-content: left;
    height: 100%; 
    width: 20%; 
    transition: 2s; 
    align-items: center; 
}

.slide img{
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 2rem; 
    overflow-y: auto; 
}

/*css for manual stuff*/

.manual-btn{
    border: 2px solid #404040;
    padding: 5px; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: 1s; 
    display: none;

}

.manual-btn:not(:last-child){
    margin-right: 40px; 
}

.manual-btn:hover{
    background: #404040;
}

#radio1:checked ~ .first{
    margin-left: 0; 
}

#radio2:checked ~ .first{
    margin-left: -20%; 
}

#radio3:checked ~ .first{
    margin-left: -40%; 
}

#radio4:checked ~ .first{
    margin-left: -60%; 
}

#radio5:checked ~ .first{
    margin-left: -80%; 
}

/*css for auto stuff*/

.navigation-auto div{
    border: 2px solid #404040;
    padding: 5px; 
    border-radius: 10px; 
    transition: 1s; 
}

.navigation-auto div:not(:last-child){
    margin-right: 40px; 
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #404040;
    display:none;

}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #404040;
    display:none;

}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #404040;
    display:none;

}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #404040;
    display:none;

}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #404040;
    display:none;

}

.about-me-page{
    transform: translate(85%, -3%);
    height: 100%; 
    width: 100%; 
    margin-bottom: 18px;
    min-height: 100vh; 
    position:relative; 
    display: grid;
    align-items: center;
    gap: 2rem;
}

.about-me-page-text p1{
    color: white; 
    font-size: 20px; 
    line-height: 1.9;
    margin-bottom: 20px; 
}

.about-me-page-text p2{
    color: white; 
    font-size: 20px; 
    line-height: 1.9;
    margin-bottom: 20px; 
}



@media (max-width: 1535px){
    header{
        padding: 15px 3%; 
        transition: .2s; 
    }

}

@media (max-width: 1460px){
    section{
        padding: 0 12%; 
        transition: .2s; 
    }
}

@media (max-width: 1340px){
    .about-me-page-text p{
        font-size: 10px; 
        margin: 0 0 30px; 
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%; 
        transition: .2s; 
    }
    .about-me-page-text{
        padding-top: 115px; 

    }
    .about-me-page{
        height: 100%; 
        gap: 1rem; 
        grid-template-columns: 1fr;
    }

}

@media (max-width: 680px){
    .about-me-page-text{
        width: 100%; 
        height: auto;
    }
}

.blog-title{
    top: 40px; 
    right: -65px; 
    position: absolute;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 100%; 
    margin-bottom: 10px;

}

.blog-content{
    display: none; 
    margin-bottom: 20px; 
    position: absolute; 
    top: 100px; 
    left: 60px; 
    font-weight: bold; 
    font-size: 15px; 
    color: white; 

}

.blog-stuff{
    background: rgb(87, 30, 141);
    position:absolute;
    bottom: -350px;
    left: 2px;
    width: 1520px; 
    height: 400px;
    margin-bottom: 20px;

}

.paragraph{
    display: block;
    padding: 1.5px;  
    margin-bottom: 10px; 
  }



