@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 10px;
}

body{
    background: url('./images/background.png');
    background-position: 2;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Roboto', sans-serif;

}

.container{
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

.image-container{
    max-width: 200px;
    height: auto;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 33px 9%;
    background: transparent;

}

.logo{
    font-size: 30px; 
    font-weight: 700; 
    color: white;
}

.navlist{
    display: flex; 
}

.navlist a{
    color: white;
    margin-left: 60px; 
    font-size: 15px; 
    font-weight: 600; 
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{ 
    border-bottom: 2px solid white; 
}

#menu-icon{
    color: white;
    font-size: 35px; 
    z-index: 10001; 
    cursor: pointer; 
    display: none;

}

.home-page{
    height: 100%; 
    width: 100%; 
    min-height: 100vh; 
    position:relative; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.project-page{
    height: 100%; 
    width: 100%; 
    min-height: 100vh; 
    position:relative; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.gpt-page{
    height: 100%; 
    width: 100%; 
    min-height: 50vh;
    position:relative; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 10%;
}

.home-page-intro h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px; 
    line-height: 1; 
    color: white; 
    margin: 0 0 45px; 
}

.contact-me-page{
    height: 100%; 
    width: 100%; 
    min-height: 100vh; 
    position:relative; 
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.contact-me-text {
    grid-column: 1 / span 2;
    grid-row: 1.5; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
    height: 100%;
  }

.contact-me-text h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px; 
    line-height: 1; 
    color: white; 
    margin: 0 0 45px; 
}

.home-page-intro h4{ 
    font-size: 18px; 
    font-weight: 600; 
    color: white; 
    margin-bottom: 10px;     

}

.home-page-intro p{
    color: white; 
    font-size: 15px; 
    line-height: 1.9;
    margin-bottom: 40px; 
}

.projects-page-intro h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px; 
    line-height: 1; 
    color: white; 
    margin: 0 0 45px; 
}

.gpt-page-intro h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px; 
    line-height: 1; 
    color: white; 
    margin: 0 0 45px; 
}

.home-page-image img{
    width: 700px; 
    height: auto; 
}

.contact-me-icons{
    position: absolute; 
    top: 50%; 
    padding: 0 20%; 
    font-size: 1000px;
    display: flex;
    transform: translateY(-30%);
    justify-content: center; 
    align-items: center;
}

.contact-me-icons i{
    display: block; 
    font-size: 18rem; 
    margin: 0 50px;
    color: white; 
    transition: all .50s ease; 
}

.contact-me-icons i:hover{
    color: #73a5c7; 
    transform: translateY(-5px);
}

.icons{
    position: absolute; 
    top: 50%; 
    padding: 0 9%; 
    transform: translateY(-50%);
}

.icons i{
    display: block; 
    margin: 26px 0; 
    font-size: 30px; 
    color: white; 
    transition: all .50s ease; 
}

.icons i:hover{
     color: #73a5c7;
     transform: translateY(-5px)
}

.scroll-down{
    position: absolute; 
    bottom: 6%; 
    right: 9%; 
}

.scroll-down i{
    display: block; 
    padding: 12px; 
    font-size: 25px; 
    color: white; 
    background: #73a5c7;
    border-radius: 30px; 
    transition: all .50s ease; 
}

.scroll-down i:hover{
    transform: translateY(-5px);
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%; 
        transition: .2s; 
    }
    .icons{
        padding: 0 3%; 
        transition: .2s; 
    }
    .scroll-down{
        right: 3%; 
        transition: .2s;
    }

}

@media (max-width: 1460px){
    section{
        padding: 0 12%; 
        transition: .2s; 

    }
}

@media (max-width: 1340px){
    .home-page-image{
        width: 100%; 
        height: auto; 
    }
    .home-page-intro h1{
        font-size: 40px; 
        margin: 0 0 30px; 
    }
}

@media (max-width: 1284px){

}

@media (max-width: 1195px){
    section{
        padding: 0 3%; 
        transition: .2s; 
    }
    .home-page-intro{
        padding-top: 115px; 

    }
    .home-page-image{
        text-align: center; 
    }
    .home-page-image img{
        width: 560px; 
        height: auto; 
    }
    .home-page{
        height: 100%; 
        gap: 1rem; 
        grid-template-columns: 1fr;
    }
    .icons{
        display: none; 
    }
    .scroll-down{
        display: none; 
    }

}

@media (max-width: 990px){
    #menu-icon{
        display: block; 
    }
    .navlist{
        position: absolute; 
        top: 100%; 
        right: -100%; 
        width: 100px; 
        height: 18vh;
        display: flex; 
        align-items: center; 
        background: #954dbe;
        flex-direction: column; 
        padding: 10px 10px; 
        transition: all .55s ease; 
    }
    .navlist a{
        margin-left: 0; 
        display: block; 
        margin: 6px 0;
    }
    .navlist.open{
        right: 0; 
    }
}

@media (max-width: 844px){
    .home-page-intro h1{
        transform: translate(3%,-220%); 
    }
    .home-page-intro h4{
        transform: translate(3%, -380%);
    }
    .home-page-intro p{
        transform: translate(3%, -170%);
    }
    .home-page-image{
        transform: translate(1%,7%);
    }
    .contact-me-icons{
        display: flex;
        height: 150px; 
        width: 390px;
        top: 60%; 
        font-size: 30px;
        transform: translateY(-30%);
        justify-content: left; 
        align-items: center;
    }

    .contact-me-icons i{
        display: block; 
        font-size: 9rem; 
        margin: 0 20px;
        color: white; 
        transform: translateX(-80%);
        transition: all .50s ease; 

    }
    .contact-me-text{
        transform: translateY(17%);

    }

}
@media (max-width: 680px){
    .home-page-image img{
        width: 100%; 
        height: auto; 
    }
    .home-page-intro{
        width: 100%; 
        height: auto;
    }
}

.icon.large{
    font-size: 5rem;
}

.search-container {
    position: relative;
    width: 300px;
    margin-top: 22%;
  }
  
  #search-input {
    width: 175%;
    top: 70%; 
    left: 50%; 
    padding: 10px;
    border: 1px solid #ccc;
    transform: translate(85%, -265%);
    border-radius: 5px;
    background-color: #36393f;
    color: #fff;
  }
  
  #output-box {
    position: fixed;
    top: 50%;
    left: 6.5%;
    height: 380px;
    width: 35%;
    padding: 10px;
    background-color: #f1f1f1;
    transform: translate(65%, -40%);
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px;
    background-color: #36393f;
    color: #fff;
    overflow-y: auto; 
  }

  #search-input::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  .paragraph{
    display: block;
    padding: 1.5px;  
    margin-bottom: 10px; 
  }
  